/volumes/*
/storage/*
/data/custom_rags/*
/data/merge/*
/data/report/*
/data/databases/*
/data/queries/*
/backend/data/*
**/__pycache__/
/infrastructure/ollama/fine_tune
/docker/*
venv
.env
chunks_output.jsonl