/volumes/*
/storage/*
/data/custom_rags/*
/data/merge/*
/data/report/*
/data/databases/*
/data/queries/*
/backend/data/*
!/backend/data/*.json
!/backend/data/*/
/backend/data/*/*
!/backend/data/*/.gitkeep
**/__pycache__/
/infrastructure/ollama/fine_tune
/docker/*
venv
.env
chunks*.jsonl
*.pkl
rerank_contexts.py