services:
  front:
    build:
      context: ..
      dockerfile: Dockerfile
    image: openrag_front
    container_name: ${FRONT_LOCAL_CONTAINER_NAME}
    network_mode: host
    volumes:
      - ../data:/app/data
      - ../storage:/app/storage
      - ../streamlit_:/app/streamlit_
      - ../backend:/app/backend